*{
    color: white;
}


main, header{
    background-color: rgba(18,18,18,1);
}


#first{
    background: rgb(229,189,194);
    background: linear-gradient(180deg, rgba(229,189,194,1) 0%, rgba(18,18,18,1) 45%);
}   


.bold{
    font-weight: 700;
}


.planes{
    border: 10px solid;
    border-radius: 12px;
    padding: 12px;
}

.planes [class*="-fill"]{
    width: fit-content;
    padding: 6px;
    border-radius: 4px;
}

.planes > div > [class*="-fill"] > p {
    width: fit-content;
    color: black;
    font-weight: 700;
    margin: 0;
}

.premium p{
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    padding-top: 3px;
}

.premium span{
    font-size: 10px;
    
}

h3{
    font-size: 22px !important;
    font-weight: bold;
}

.buttonplan{
    border-radius: 20px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    color: black;
    font-weight: 700;
}

.smalltext{
    font-size: 11px;
    
}


@media (min-width: 768px) {
    .staylow {
      position: absolute !important;
      bottom: 0;
      height: 205px !important;
      width: 315px !important;
    }
  }



.all{
    border-color: #B00D6E;
    border-width: 3px;
}

.individual{
    border-color: #FFD2D7;
    border-width: 4px;
}

.individual-fill{
    background-color: #FFD2D7 !important;
}

.estudiantes{
    border-color: #C4B1D4;
    border-width: 4px;
}

.estudiantes-fill{
    background-color: #C4B1D4 !important;
}

.duo{
    border-color: #FFC862;
    border-width: 4px;
}

.duo-fill{
    background-color: #FFC862 !important;
}


.familiar{
    border-color: #A5BBD1;
    border-width: 4px;
}

.familiar-fill{
    background-color: #A5BBD1 !important;
}



.planes.all ul {
    --icon-space: 1.3em;
    list-style: none;
    padding: 0;
  }
  
  .planes.all li {
    padding-left: var(--icon-space);
    
  }
  
  .planes.all li:before {
    content: "\f00c"; /* FontAwesome Unicode */
    font-family: FontAwesome;
    display: inline-block;
    margin-left: calc( var(--icon-space) * -1 );
    width: var(--icon-space);
    color: white;
  }
